.outer-container {
    width: 328px;
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    margin: 16px 16px 26px;
    padding: 0;
  }
  .background-box {
    width: 360px;
    height: 800px;
    flex-grow: 0;
    background-color: #ededf0;
  }
  
.errorMsgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    /* margin-top: 178px;; */
  }
  
  
  .errorImgClass {
    width: 52.09px;
    height: 60px;
  }
  
  .errorContents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .errorTitle {
    display: flex;
    width: 328px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .errorTitleText {
    color: var(--Typography-Heading, #12121C);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'NotoCustomMedium';
    /* Display/Heading 1 */
    font-family: "Noto Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 125% */
  }
  
  .errorSubtitleText {
    color: var(--Typography-Body-Label, #3D3D47);
    text-align: center;
  
    /* Body/Para */
    font-family: 'NotoCustomRegular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    flex: 1 0 0;
  }
  
  .errorBtnClass {
    display: flex;
    width: 328px;
    padding: var(--Mobile-Scale-lg---16, 16px) var(--Mobile-Scale-xxxl---32, 32px);
    justify-content: center;
    align-items: center;
    gap: var(--Mobile-Scale-sm---8, 8px);
    border-radius: var(--Radius-Component-3, 8px);
    background: var(--Orange-400, #DB5E2B);
    border: none;
    margin-top: 250px;
  }

  .Confirm {
    width: 55px;
    height: 24px;
    flex-grow: 0;
    font-family: "NotoCustomMedium";
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }

  /*for popup*/

  .modal-container {
    z-index: 1;
    width: 360px;
    height: 745px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin: -175px 0 212px;
    padding: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .consentModalContainer {
    display: flex;
    width: 328px;
    padding: 24px var(--Mobile-Scale-lg---16, 16px) var(--Mobile-Scale-xxl---24, 24px) var(--Mobile-Scale-lg---16, 16px);
    flex-direction: column;
    align-items: center;
    gap: var(--Mobile-Scale-xxl---24, 24px);
    border-radius: var(--Mobile-Scale-xxl---24, 24px);
    background: #FFF;
    margin-top: 220px;
  }
  
  .consentModalContents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
  }
  
  .consentModalImg {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: var(--Radius-Surface-Card, 24px);
    background: var(--Purple-50, #FCD6FF);
  }
  
  .consentModalTitle {
    color: var(--Typography-Heading, #12121C);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
  
    /* Display/Heading 1 */
    font-family: "Noto Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 125% */
    align-self: stretch;
    font-family: "NotoCustomMedium";
  }
  
  .consentModalSubtitle {
    color: var(--Typography-Body-Label, #3D3D47);
    text-align: center;
  
    /* Body/Para */
    font-family: "Noto Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    align-self: stretch;
    font-family: "NotoCustomRegular";
  }
  
  .strongText {
    font-family: "NotoCustomMedium";
  }
  
  .consentModalBtnContiner {
    display: flex;
    width: 296px;
    padding: var(--Mobile-Scale-lg---16, 16px) var(--Mobile-Scale-xxxl---32, 32px);
    justify-content: center;
    align-items: center;
    gap: var(--Mobile-Scale-sm---8, 8px);
    border-radius: var(--Radius-Component-3, 8px);
    background: #db5e2b;
    color: #fff;
    border: none;
  }
  
  .home {
    display: flex;
    width: 328px;
    /* padding: 24px var(--Mobile-Scale-lg---16, 16px) var(--Mobile-Scale-xxl---24, 24px) var(--Mobile-Scale-lg---16, 16px); */
    flex-direction: column;
    align-items: center;
    gap: var(--Mobile-Scale-xxl---24, 24px);
    border-radius: var(--Mobile-Scale-xxl---24, 24px);
    background: #FFF;
  
  }
  
  .homeText {
    display: flex;
    padding: var(--Mobile-Scale-xs---4, 4px) 0px;
    justify-content: center;
    align-items: center;
    gap: var(--Mobile-Scale-sm---8, 8px);
    border-bottom: 1px dashed var(--Orange-500, #BA4517);
    color: #db5e2b;
  
  }
  


/*for assisted screen*/

.msgContainer {
    display: flex;
    width: 360px;
    height: 816px;
    padding-bottom: 357px;
    flex-direction: column;
    align-items: flex-start;
    gap: 145px;
    background: var(--Static-White, #FFF);
  }
  
  .msgImg {
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
  }
  
  .msgContents {
    display: flex;
    width: 360px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  
  .msgData {
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
  }
  
  .msgTitleText {
    color: var(--Typography-Heading, #12121C);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'NotoCustomMedium';
  
    /* Display/Extended Title */
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 120% */
    align-self: stretch;
  }
  
  .msgSubtitleText {
    color: var(--Typography-Body-Label, #3D3D47);
    text-align: center;
    font-family: 'NotoCustomRegular';
  
    /* Body/Subtext */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    align-self: stretch;
  }
  
  .msgStrongText {
    color: var(--Typography-Heading, #12121C);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    align-self: stretch;
    font-family: 'NotoCustomRegular';
  
  }
  
  .diyText {
    display: flex;
    padding: var(--Mobile-Scale-xs---4, 4px) 0px;
    justify-content: center;
    align-items: center;
    gap: var(--Mobile-Scale-sm---8, 8px);
    border-bottom: 1px dashed var(--Orange-500, #BA4517);
    color: #DB5E2B;
    font-family: 'NotoCustomRegular';
    cursor: pointer;

    width: 224px;
    margin-left: 35px;
  }
  
  .header1{
    /* margin: 0px 15px 0px; */
  }

  .consentDiv{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 80px;
  }