*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html, body {
    font-family: arial;
    margin: 2rem;
  }
  
  .wheel-picker {
    width: 6rem;
    height: 10rem;
    position: relative;
    overflow: hidden;
  }
  
  .wheel-picker::before {
    content: '';
    background: linear-gradient(
      rgba(255,255,255,1) 0%,
      rgba(255,255,255,0) 45%,
      rgba(255,255,255,0) 55%,
      rgba(255,255,255,1) 100%
    );
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  
  .wheel-picker::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    transform: translateY(-50%);
    height: 2rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  
  .wheel-picker--list {
    padding-left: 0;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    animation: scroll 10s linear infinite;
  }
  
  @keyframes scroll {
    0% { top: -6rem; }
    100% { top: 0; }
  }
  
  .wheel-picker--item {
    height: 2rem;
    line-height: 2rem;
    padding: 0 1rem;
    text-align: center;
  }
  
  .wheel-picker--item > a {
    text-decoration: none;
    color: black;
  }