:host {
    --slds-c-modal-shadow: none;
    --sds-c-modal-shadow: none;
    --lwc-shadowDropDown: none;
    --slds-g-color-border-base-4: #ededf0;
    --lwc-colorBorderInput: #ededf0;
    --lwc-spacingMedium: none;
    --slds-c-button-line-height: 50px;
    --slds-c-button-brand-color-background: #DB5E2B;
}

.container {
    width: 360px;
    height: 816px;
    background-color: #FFF;
    /* opacity: 0.7; */
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

.custom-header {
    display: flex;
    align-items: center;
    width: 360px;
    height: 56px;
    background-color: #f9f9fb;
    border: 1px solid #e1e1e3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-sizing: border-box;
    z-index: 1;
}

.logo {
    width: 32px;
    height: 32px;
    margin-left: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
}

.header-title {
    margin: 18px 48px 18px 16px;
    font-size: 1.25rem;
    font-family: "NotoCustomRegular";
    /* Adjust as needed */
    color: #000;
    /* Adjust as needed */
    padding: 0px 16px;
}


.transform {
    width: 261px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin: 30px 56px 32px 43px;
    padding: 0;
}

.Transform-your-dreams-into-reality-with {
    flex-grow: 0;
    font-family: "NotoCustomRegular";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #ffe8ff;
}

.AU-Digital-Loan {
    flex-grow: 0;
    font-family: "NotoCustomRegular";
    font-size: 23px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}


.Content {
    display: flex;
    width: 360px;
    height: 177.039px;
    justify-content: flex-end;
    /* align-items: center; */
    flex-shrink: 0;
}

.Blank-Space {
    display: flex;
    width: 360px;
    padding-bottom: 24px;
    flex-direction: column;
    align-items: center;
    gap: 160px;
    height: 216px;
}

.Inavlid-PAN-Image {
    width: 72.741px;
    height: 52px;
}

.Display-Heading {
    color: var(--Typography-Heading, #12121C);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Display/Heading 1 */
    font-family: "NotoCustomRegular";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 125% */
    margin-top: 16px;
}

.Display-Msg {
    color: var(--Typography-Body-Label, #3D3D47);
    text-align: center;

    /* Body/Para */
    font-family: "NotoCustomRegular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

.Button-Separator {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 475px;
}

.Home-Button-Container {
    width: 328px;
}


.Animation {
    display: flex;
    width: 308.276px;
    height: 177.039px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
}


.Display-Heading {
    color: var(--Typography-Heading, #12121C);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Display/Heading 1 */
    font-family: "NotoCustomRegular";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 125% */
}

.Display-Msg {
    color: var(--Typography-Body-Label, #3D3D47);
    text-align: center;

    /* Body/Para */
    font-family: "NotoCustomRegular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

.header {
    width: 360px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin: 0 0 16px -15px; */
    padding: 12px 0;
    border-bottom: solid 1px #e1e1e3;
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.header-logo {
    width: 32px;
    height: 32px;
    /* added */
    margin-left: 7px;
}

.header-content {
    height: 20px;
    flex-grow: 1;
    font-family: "NotoCustomMedium";
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #12121c;
    /* added */
    margin-right: 25px;
}


@font-face {
    font-family: "NotoCustomRegular";
    src: url("/resource/NotoSansFont/NotoSans/NotoSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "NotoCustomBold";
    src: url("/resource/NotoSansFont/NotoSans/NotoSans-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "NotoCustomSemiBold";
    src: url("/resource/NotoSansFont/NotoSans/NotoSans-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: "NotoCustomMedium";
    src: url("/resource/NotoSansFont/NotoSans/NotoSans-Medium.ttf") format('truetype');
}