.THIS .globalHeaderDiv {
    width: 100%;
    height: 75px;
    box-sizing: border-box;
    background: #FFFFFF;
    padding: 0 20%;
}

.THIS .mainContentArea {
    --lwc-layoutVerticalPadding: 0px;
    --slds-c-button-brand-text-color: #c9ccd1 !important ; /* Mohit M. */
    --slds-button-brand-text-color: #c9ccd1 !important ; /* Mohit M. */
    /* --lwc-spacingSmall: 2rem; */
}

.THIS {
    background: lightgray;
    display: flex;
    justify-content: center;
    padding: 0 20%;
    width:100%;
    height: 100%;

    /* padding-left: 40%;
    padding-right: 50%; */
}


/* All mobile specific updates are written from this line */
@media screen and (max-width: 480px) {
    .THIS .globalHeaderDiv {
        height: 55px;
    }
}

@media only screen and (max-width: 600px) {
    .THIS .mainContentArea {
        --lwc-spacingSmall: 0rem;
    }
}